<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Four in a Chain - Lobby</title>
  <meta name="description" content="Four in a Chain - Lobby">
  <meta name="author" content="Daniel Jones">
  <link rel="stylesheet" href="{{host}}/style-lobby.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{{host}}/web3.min.js"></script>
  <script type="text/javascript" src="{{host}}/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <div class="base">
    <div class="header">
      <img src="{{host}}/images/logo.png" alt="Logo of the company HERA" class="logo">
      <div class="wallet" id="wallet-id"></div>
      <div id="connected-sign" class="connected">Connected</div>
      <button id="connect-btn" onclick="init()" class="connection-button">Connect wallet</button>
      
    </div>
    <div class="find-opponent-block">
      <div class="grid">
        Bet amount: 2 ETH
        {{!-- <a href="/four-in-a-chain"> --}}
        <div id="waiting-sign" class="connected">Waiting for an opponent</div>
        <button class="connection-button" id="gameButton" onclick="joinGame()">
          Join a game
        </button>
        {{!-- </a> --}}
      </div>
    </div>
  </div>
    <script src="{{host}}/lobby.js"></script>
</body>
</html>
